PUID=0
PGID=0
UMASK=002
TZ=Europe/Budapest
DOCKER_DATA=/srv/docker-data
MEDIA_ROOT=/mnt/storage/media
DOWNLOADS=/mnt/storage/media/downloads
NOTIFIARR_API_KEY=
PROWLARR_API=your_prowlarr_api_key_here
QBIT_PASS=your_qbittorrent_password_here
HOMEPAGE_HOST=192.168.0.YOUR_DOCKER_IP
DAWARICH_DB_PASSWORD=your_dawarich_db_password_here
DAWARICH_SECRET_KEY_BASE=your_64char_random_secret_here
DAWARICH_SMTP_DOMAIN=your_verified_resend_domain_here
DAWARICH_SMTP_PASSWORD=your_resend_api_key_here
DAWARICH_SMTP_FROM=noreply@yourdomain.com
