{% extends "base.html" %}
{% block title %}{{ S["login_title"] }}{% endblock %}
{% block body_class %}is-login{% endblock %}
{% block body %}
<div class="login">
  <p class="login__brand">{{ S["app_name"] }}</p>
  <h1>{{ S["login_title"] }}</h1>
  {% if error %}<p class="error" role="alert">{{ error }}</p>{% endif %}
  <form method="post" action="/login">
    <label for="username">{{ S["login_user"] }}</label>
    <input id="username" name="username" autocomplete="username"
           autocapitalize="none" autocorrect="off" required autofocus>
    <label for="password">{{ S["login_password"] }}</label>
    <input id="password" name="password" type="password"
           autocomplete="current-password" required>
    <button type="submit">{{ S["login_submit"] }}</button>
  </form>
</div>
{% endblock %}
