{% extends "base.html" %}
{% block title %}{{ S["settings_title"] }}{% endblock %}
{% block heading %}{{ S["settings_title"] }}{% endblock %}
{% block body %}
<ul class="list list--links">
  <li class="card"><a href="/settings/treatments">{{ S["settings_treatments"] }}</a></li>
  <li class="card"><a href="/settings/hours">{{ S["settings_hours"] }}</a></li>
</ul>
<form method="post" action="/logout" class="stack-top">
  <button class="secondary" type="submit">{{ S["logout"] }}</button>
</form>
{% endblock %}
