[defaults]
inventory = ./inventory.yml
nocows = True
deprecation_warnings = False
callbacks_enabled = profile_tasks
remote_tmp = $HOME/.ansible/tmp

# A node nevek a 109 /etc/hosts-jabol a Tailscale IP-re oldodnak fel, nem a LAN
# cimre. Ezert eli tul az inventory a kovetkezo subnet-valtast is.
host_key_checking = True

[privilege_escalation]
become = True
